---
import Layout from '../layouts/Layout.astro';
---

<Layout title="PokeAstro">
  <main>
    <h1 class="text-center text-4xl my-2">
      Welcome to <span style="color: blueviolet;">PokeAstro</span>
    </h1>
  </main>
</Layout>
